* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  background-color: #0f0f0f;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 22rem;
  width: 22rem;
  grid-gap: 0.4rem;

  background-color: #420420;
  border-radius: 1px;
}
.grid_square {
  background-color: #0f0f0f;
  cursor: pointer;
}

#info {
  text-align: center;
  width: 22rem;
  height: 100px;
  border-radius: 2px;
  background-color: #420420;
  border: 2px solid #fff;
}
.info-player {
  display: flex;
  justify-content: space-between;
  margin: 11px;

  border-radius: 2px;

  color: #fff;
  font-weight: bolder;
  background: #420420;
}
.info-player-icon {
  height: 2.1rem;
  background-color: #0f0f0f;
}
#info_player_score1 {
  font-family: sans-serif;
  color: #fff;
  background-color: #0f0f0f;
  width: 33px;
}
#info_player_score2 {
  font-family: sans-serif;

  color: #fff;
  background-color: #0f0f0f;
  width: 33px;
}
.cross {
  background-image: url(images/cross.png);
}

.circle {
  background-image: url(images/circle.png);
}
.circle,
.cross {
  background-size: cover;
}
#header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text {
  font-family: sans-serif;
  font-weight: bolder;

  text-align: center;
  color: #fff;
  font-size: 18px;
}

#btn {
  width: 215px;
  font-size: 18px;
  font-weight: bolder;
  height: 38px;
  border-radius: 2px;

  background-color: #420420;
  border: none;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}
#btn:hover {
  filter: brightness(70%);
}
#btn:active {
  transform: translateY(0.125rem);
}
#modal {
  display: none;

  width: 450px;
  height: 400px;
}
#modal.active {
  position: absolute;
  background-color: #420420;
  border-radius: 4px;
  display: block;
}
#modal_content {
  font-family: sans-serif;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 4px;
}
h4 {
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
form input {
  font-size: 19px;
  height: 35px;
  width: 350px;
  border-radius: 1px;
  padding: 20px;
  border: 1px solid #fff;
}
::placeholder {
  font-size: 20px;
  font-family: sans-serif;
  color: grey;
  font-weight: bold;
}
.button {
  width: 210px;
  border: 1px solid #fff;
  height: 42px;
  background-color: #420420;

  font-size: 20px;
  text-align: center;

  color: #fff;
  cursor: pointer;
}
.button:hover {
  filter: brightness(70%);
  transition: 0.5s;
}

.swal2-popup {
  background-color: #0f0f0f;
  border: 2px solid #fff;

  transition: 2s;
}

.swal2-title {
  color: #fff;
  font-family: sans-serif;
  animation: change-color 1.5s infinite;
}
.swal2-close {
  background-color: red;
}
@keyframes change-color {
  0% {
    transform: translateY();
    color: #fff;
  }
  50% {
    ransform: translateY();
    color: red;
  }
}
