* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  height: 100vh;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
/* body {
  height: 100vh;
  background-color: lightslategrey;
  display: flex;
  align-items: center;

  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
} */
#grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  height: 22rem;
  width: 22rem;
  grid-gap: 0.4rem;
  padding: 0.4rem;
  background-color: #030202;
  background-image: linear-gradient(326deg, #030202 0%, #91221e 74%);

  border-radius: 0.4rem;
}
.grid_square {
  background-color: #fff;

  border-radius: 0.3rem;
  border: var(--border);
}
/* img {
  height: 30px;
  width: 30px;
} */
#info {
  text-align: center;
  width: 15rem;
  background-color: white;
}
.info-player {
  display: flex;
  justify-content: space-between;

  margin: 8px;
  padding: 0.1rem;
  border-radius: 0.3rem;
  border: var(--border);
  background: white;
}
.info-player-icon {
  height: 2.1rem;
  padding: 0.11rem;
}
.cross {
  background-image: url(images/cross.png);
}

.circle {
  background-image: url(images/circle.png);
}
.circle,
.cross {
  background-size: cover;
}
#instructions {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 15rem;
}
#text {
  text-align: center;
  color: aliceblue;
  font-size: 20px;
}
#btn {
  width: 13rem;
  height: 1.9rem;
  border-radius: 2.5rem;
  border: 1px solid white;
  background-color: black;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}
#btn:active {
  transform: translateY(0.125rem);
}
#modal {
  display: none;
  width: 500px;
  height: 500px;
}
#modal.active {
  position: absolute;

  background-color: darkred;

  display: block;
}
#modal_content {
  font-family: sans-serif;
  font-size: 20px;

  margin-top: 40px;

  border-radius: 4px;
}
h4 {
  margin-bottom: 50px;
  font-size: 45px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
form input {
  height: 60px;
  width: 470px;
  border-radius: 2px;
  padding: 20px;
  border: 1px solid #fff;
}
::placeholder {
  font-size: 38px;
  font-family: sans-serif;
  color: #030202;
  font-weight: bolder;
}
.button {
  width: 100px;
  text-align: center;
  background-color: blue;
  color: #fff;
  cursor: pointer;
}
